@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white;
        @apply transition-colors duration-300;
    }
}

:root {
    /* change swiper variables */
    --swiper-theme-color: #fff !important;
    --swiper-navigation-size: 25px !important;

    /* custom swiper pagination style */
    .swiper .swiper-pagination {
        bottom: 1rem;
    }

    .swiper .swiper-pagination-bullet {
        background-color: white;
        opacity: 0.6;
    }

    .swiper .swiper-pagination-bullet-active {
        background-color: white;
        opacity: 1;
    }

    /* hide pagination globally on small devices */
    @media (max-width: 500px) {
        .swiper .swiper-pagination {
            display: none;
        }
    }
}